{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}
<img src="{% static 'portfolio/under_construction.jpg' %}">

<a href="{% url 'blog:index' %}">Blog</a>

<h1>This is the Home Page</h1>
{% for p in projects %}
<section>
    <h3>{{ p.title }}<h3>
            <img style="width:50px; height:auto" src="{{ p.image.url }}">
            <p>{{ p.description }}</p>
            {% if p.url %}
            <a href="{{ p.url }}">Link</a>
            {% endif %}
</section>
{% endfor %}
{% endblock %}